# Build ultimate dataset

In [1]:
from project.utils.data import load_balances_data

In [2]:
balances = load_balances_data()

In [3]:
balances['income - outcome'] = balances['income'] - balances['outcome']

In [4]:
balances

              income   outcome   balance  income - outcome
date
2017-01-09  1.343028  1.487865 -0.155904         -0.144836
2017-01-10  1.068610  1.194182 -0.125572         -0.125572
2017-01-11  0.944429  0.936663  0.007767          0.007767
2017-01-12  1.672202  0.875379  0.800391          0.796823
2017-01-13  0.955924  0.975645 -0.019721         -0.019721
...              ...       ...       ...               ...
2021-03-27  0.000000  0.000000  0.000000          0.000000
2021-03-28  0.000000  0.000000  0.000000          0.000000
2021-03-29  2.356883  3.370738 -1.017679         -1.013855
2021-03-30  2.317382  2.567554 -0.259687         -0.250172
2021-03-31  2.528054  2.528054 -0.004878          0.000000

[1543 rows x 4 columns]