# Build ultimate dataset

In [1]:
import sys
import os
from pathlib import Path
sys.path.insert(1, str(Path(os.getcwd()).resolve().parent))

import pandas as pd 
pd.set_option('display.max_columns', 150)

from project.utils.data import *

In [2]:
balances = load_balances_data()

In [3]:
balances['income - outcome'] = balances['income'] - balances['outcome']

In [4]:
balances.head()

              income   outcome   balance  income - outcome
date
2017-01-09  1.343028  1.487865 -0.155904         -0.144836
2017-01-10  1.068610  1.194182 -0.125572         -0.125572
2017-01-11  0.944429  0.936663  0.007767          0.007767
2017-01-12  1.672202  0.875379  0.800391          0.796823
2017-01-13  0.955924  0.975645 -0.019721         -0.019721

In [5]:
df = add_features_to_balances().reset_index(drop=False)

In [6]:
df.head()

,date,income,outcome,balance,income - outcome,non_working_day,non_working_day_usd,isholiday,key_rate,day_before_holiday,tax,day_before_tax,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,start_of_month,end_of_month,year_2017,year_2018,year_2019,year_2020,year_2021,January,February,March,April,May,June,July,August,September,October,November,December
0,2017-01-09,1.343028,1.487865,-0.155904,-0.144836,0,0,0,10.0,0.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,2017-01-10,1.068610,1.194182,-0.125572,-0.125572,0,0,0,10.0,0.0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,2017-01-11,0.944429,0.936663,0.007767,0.007767,0,0,0,10.0,0.0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,2017-01-12,1.672202,0.875379,0.800391,0.796823,0,0,0,10.0,0.0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,2017-01-13,0.955924,0.975645,-0.019721,-0.019721,0,0,0,10.0,0.0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [7]:
df.isnull().sum().max()

0

In [8]:
overwrite_featured_df()

/Users/ruattar/TS_project/datasets/extended_data.csv is overwritten

In [9]:
df = load_extended_data()

In [10]:
df.head()

,income,outcome,balance,income - outcome,non_working_day,non_working_day_usd,isholiday,key_rate,day_before_holiday,tax,day_before_tax,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,start_of_month,end_of_month,year_2017,year_2018,year_2019,year_2020,year_2021,January,February,March,April,May,June,July,August,September,October,November,December
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2017-01-09,1.343028,1.487865,-0.155904,-0.144836,0,0,0,10.0,0.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2017-01-10,1.068610,1.194182,-0.125572,-0.125572,0,0,0,10.0,0.0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2017-01-11,0.944429,0.936663,0.007767,0.007767,0,0,0,10.0,0.0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2017-01-12,1.672202,0.875379,0.800391,0.796823,0,0,0,10.0,0.0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2017-01-13,0.955924,0.975645,-0.019721,-0.019721,0,0,0,10.0,0.0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0