# Build ultimate dataset

In [1]:
%load_ext autoreload
%autoreload 1

In [2]:
import sys
import os
from pathlib import Path
sys.path.insert(1, str(Path(os.getcwd()).resolve().parent))

import pandas as pd 
pd.set_option('display.max_columns', 150)

from project.utils.data import *
%aimport project.utils.data

In [3]:
balances = load_balances_data()

In [4]:
balances['income - outcome'] = balances['income'] - balances['outcome']

In [5]:
balances.head()

              income   outcome   balance  income - outcome
date
2017-01-09  1.343028  1.487865 -0.155904         -0.144836
2017-01-10  1.068610  1.194182 -0.125572         -0.125572
2017-01-11  0.944429  0.936663  0.007767          0.007767
2017-01-12  1.672202  0.875379  0.800391          0.796823
2017-01-13  0.955924  0.975645 -0.019721         -0.019721

## Фичи

"Моя главная фича - двери вышибать с плеча"

Что включаем в рассмотрение:

От ЦБ:

- Ключевая ставка
- Обменный курс USD

Прим. Курс валют и ключ от ЦБ публикуются накануне (в случ. измения ключа, насколько я знаю по опыту, он вступает в силу со след дня), поэтому тут точно не будет ликов

Побольше ставочек: 

- [MOSPRIME](https://mosprime.com/archive?date_from=2021-01-01&date_to=2024-04-13&contributor=)

Календарные фичи: 

- Выходные
- Праздники (по РФ календарю)
- День до / после праздников
- Дни недели
- Месяцы
- Начало / конец месяца

Непосредственно скрипт формирующий датасет из всех доступных фичей лежит в `project/utils.py`

In [6]:
df = project.utils.data.add_features_to_balances(balances).reset_index(drop=False)

In [7]:
df.tail()

,date,income,outcome,balance,income - outcome,non_working_day,non_working_day_usd,isholiday,key_rate,mosprime_rub_1m,mosprime_rub_1w,mosprime_rub_2m,mosprime_rub_2w,mosprime_rub_3m,mosprime_rub_6m,mosprime_rub_on,usd_xr,usd_xr_mean_7,usd_xr_std_7,usd_xr_min_7,usd_xr_max_7,usd_xr_median_7,day_before_holiday,day_after_holidays,tax,day_before_tax,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,start_of_month,end_of_month,year_2017,year_2018,year_2019,year_2020,year_2021,January,February,March,April,May,June,July,August,September,October,November,December
1538,2021-03-27,0.000000,0.000000,0.000000,0.000000,1,1,0,4.5,4.90,4.71,5.09,4.76,5.23,5.35,4.68,75.7576,75.190029,0.893932,74.1390,76.1741,75.3585,0.0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
1539,2021-03-28,0.000000,0.000000,0.000000,0.000000,1,1,0,4.5,4.90,4.71,5.09,4.76,5.23,5.35,4.68,75.7576,75.421257,0.778663,74.1390,76.1741,75.7576,0.0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
1540,2021-03-29,2.356883,3.370738,-1.017679,-1.013855,0,0,0,4.5,4.90,4.69,5.10,4.76,5.28,5.38,4.65,75.7576,75.652486,0.537367,74.6085,76.1741,75.7576,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
1541,2021-03-30,2.317382,2.567554,-0.259687,-0.250172,0,0,0,4.5,4.90,4.70,5.11,4.77,5.32,5.42,4.63,75.8287,75.826800,0.277196,75.3585,76.1741,75.7576,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
1542,2021-03-31,2.528054,2.528054,-0.004878,0.000000,0,0,0,4.5,4.91,4.68,5.12,4.74,5.33,5.43,4.63,75.7023,75.875914,0.200139,75.7023,76.1741,75.7576,0.0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0

In [8]:
df.isnull().sum().max()

6

In [9]:
overwrite_extended_df()

/Users/ruattar/TS_project/datasets/extended_data.csv is overwritten

In [10]:
df = load_extended_data()

In [11]:
df

,income,outcome,balance,income - outcome,non_working_day,non_working_day_usd,isholiday,key_rate,mosprime_rub_1m,mosprime_rub_1w,mosprime_rub_2m,mosprime_rub_2w,mosprime_rub_3m,mosprime_rub_6m,mosprime_rub_on,usd_xr,usd_xr_mean_7,usd_xr_std_7,usd_xr_min_7,usd_xr_max_7,usd_xr_median_7,day_before_holiday,day_after_holidays,tax,day_before_tax,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,start_of_month,end_of_month,year_2017,year_2018,year_2019,year_2020,year_2021,January,February,March,April,May,June,July,August,September,October,November,December
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2017-01-09,1.343028,1.487865,-0.155904,-0.144836,0,0,0,10.0,10.52,10.44,10.58,10.47,10.58,10.58,10.46,60.6569,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2017-01-10,1.068610,1.194182,-0.125572,-0.125572,0,0,0,10.0,10.53,10.40,10.59,10.48,10.59,10.59,10.21,59.8961,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2017-01-11,0.944429,0.936663,0.007767,0.007767,0,0,0,10.0,10.53,10.40,10.59,10.48,10.59,10.59,10.23,59.9533,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2017-01-12,1.672202,0.875379,0.800391,0.796823,0,0,0,10.0,10.53,10.42,10.59,10.48,10.59,10.59,10.23,60.1614,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2017-01-13,0.955924,0.975645,-0.019721,-0.019721,0,0,0,10.0,10.51,10.40,10.58,10.45,10.59,10.59,10.27,59.4978,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-27,0.000000,0.000000,0.000000,0.000000,1,1,0,4.5,4.90,4.71,5.09,4.76,5.23,5.35,4.68,75.7576,75.190029,0.893932,74.1390,76.1741,75.3585,0.0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
2021-03-28,0.000000,0.000000,0.000000,0.000000,1,1,0,4.5,4.90,4.71,5.09,4.76,5.23,5.35,4.68,75.7576,75.421257,0.778663,74.1390,76.1741,75.7576,0.0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
2021-03-29,2.356883,3.370738,-1.017679,-1.013855,0,0,0,4.5,4.90,4.69,5.10,4.76,5.28,5.38,4.65,75.7576,75.652486,0.537367,74.6085,76.1741,75.7576,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
2021-03-30,2.317382,2.567554,-0.259687,-0.250172,0,0,0,4.5,4.90,4.70,5.11,4.77,5.32,5.42,4.63,75.8287,75.826800,0.277196,75.3585,76.1741,75.7576,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
2021-03-31,2.528054,2.528054,-0.004878,0.000000,0,0,0,4.5,4.91,4.68,5.12,4.74,5.33,5.43,4.63,75.7023,75.875914,0.200139,75.7023,76.1741,75.7576,0.0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0

In [12]:
df.describe()

,income,outcome,balance,income - outcome,non_working_day,non_working_day_usd,isholiday,key_rate,mosprime_rub_1m,mosprime_rub_1w,mosprime_rub_2m,mosprime_rub_2w,mosprime_rub_3m,mosprime_rub_6m,mosprime_rub_on,usd_xr,usd_xr_mean_7,usd_xr_std_7,usd_xr_min_7,usd_xr_max_7,usd_xr_median_7,day_before_holiday,day_after_holidays,tax,day_before_tax,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,start_of_month,end_of_month,year_2017,year_2018,year_2019,year_2020,year_2021,January,February,March,April,May,June,July,August,September,October,November,December
count,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000
mean,1.084909,1.133737,-0.048860,-0.048828,0.324044,0.311082,0.050551,7.045366,7.310123,7.197861,7.375185,7.233027,7.418185,7.433247,7.128477,65.085513,65.074374,0.394885,64.579215,65.616485,65.059079,0.050551,0.022683,0.033052,0.033052,0.143227,0.143227,0.143227,0.142579,0.142579,0.142579,0.142579,0.032404,0.033052,0.231367,0.236552,0.236552,0.237200,0.058328,0.095269,0.091380,0.100454,0.077771,0.080363,0.077771,0.080363,0.080363,0.077771,0.080363,0.077771,0.080363
std,0.838651,0.901904,0.292011,0.292045,0.468168,0.463086,0.219150,1.661965,1.648044,1.653168,1.651337,1.651508,1.634117,1.619888,1.657984,6.292164,6.264659,0.331055,6.157469,6.437184,6.257725,0.219150,0.148939,0.178832,0.178832,0.350418,0.350418,0.350418,0.349757,0.349757,0.349757,0.349757,0.177129,0.178832,0.421843,0.425103,0.425103,0.425504,0.234438,0.293681,0.288243,0.300701,0.267897,0.271942,0.267897,0.271942,0.271942,0.267897,0.271942,0.267897,0.271942
min,0.000000,0.000000,-2.514887,-2.514887,0.000000,0.000000,0.000000,4.250000,4.420000,4.280000,4.490000,4.300000,4.560000,4.570000,3.760000,55.671700,56.025914,0.000000,55.671700,56.291400,55.928800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,-0.142705,-0.144836,0.000000,0.000000,0.000000,6.000000,6.390000,6.230000,6.430000,6.315000,6.450000,6.470000,6.205000,59.386200,59.457814,0.207179,58.969500,59.985800,59.386200,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.329861,1.329861,0.000000,0.000000,0.000000,0.000000,0.000000,7.250000,7.480000,7.430000,7.550000,7.450000,7.590000,7.600000,7.390000,64.223700,64.196314,0.320426,63.786000,64.610600,64.223700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.672202,1.738037,0.037721,0.039501,1.000000,1.000000,0.000000,7.750000,8.240000,7.980000,8.370000,8.030000,8.490000,8.530000,7.920000,69.125150,69.198929,0.466900,68.312300,69.572500,69.121900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5.108775,5.003439,1.408863,1.408863,1.000000,1.000000,1.000000,10.000000,10.530000,10.480000,10.590000,10.490000,10.590000,10.590000,10.490000,80.881500,79.634700,2.875307,78.869900,80.881500,79.332300,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000