# Raw data processing

In [1]:
import pandas as pd
from project.config import DATA_PATH

In [2]:
processed_data = (
    pd.read_excel(DATA_PATH / 'raw_data.xlsx')
    .rename(
        columns={
            'Date': 'date',
            'Income': 'income',
            'Outcome': 'outcome',
            'Balance': 'balance',
        }
    )
    .assign(date=lambda df: pd.to_datetime(df['date']).dt.date)
    .astype(
        {
            'date': str,
            'income': float,
            'outcome': float,
            'balance': float,
        }
    )
    .set_index('date')
    .sort_index()
)

In [3]:
processed_data.head()

              income   outcome   balance
date
2017-01-09  1.343028  1.487865 -0.155904
2017-01-10  1.068610  1.194182 -0.125572
2017-01-11  0.944429  0.936663  0.007767
2017-01-12  1.672202  0.875379  0.800391
2017-01-13  0.955924  0.975645 -0.019721

In [4]:
processed_data.shape

(1543, 3)

In [5]:
processed_data.loc['2017-01-09', 'income']

1.34302844519589

In [6]:
processed_data.to_csv(DATA_PATH / 'balances.csv')